.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
   font-family: "Jersey 10", sans-serif;
}

*. ::befor, ::after{
  margin:0;
  padding:0;
  box-sizing: border-box; 
}
:root{
  --accent-color: #34495;
  --bg-color: #ecf0f1;
  --main-font: "Jersey 10", sans-serif;
  --sub-font: "Arial", sans-serif;
  --g-ratio: 1.618;
}
body{
font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size: 1.2em;
}
hr {
  margin-top: 0.5rem;
  width: 70px;
  height: 5px;
  background-color: #34495e;
  border: none;
}
h1, h2, h3, .title,{
  font-family: var(--main-font);
  font-weight: 900;
}
.title{
  color: var(accent-color);
}
.wrapper {
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: calc(100vw / var(--g-ratio));
  height: 100vh;
  min-widthL 800px;
  margin: 0 auto;
  background-color: inherit;
}
/* Main Content 
================*/
<!--
