html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #85FF90;
  color: #C4C4C4;
}

b{
  text-transform: capitalize;
  font-style: oblique;
  text-shadow: 1px 1px #85FF90;
}
a{
  text-transform: capitalize;
  font-style: oblique;
  text-shadow: 1px 1px #85FF90;
  text-size: 1.2em;
}

.banner{
  background-color: #006609;
  padding: 10px;
  margin: 15px;
  border: 4px solid;
  border-color: #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #006609;
  text-transform: capitalize;
  text-shadow: 1px 1px #85FF90;
  font-style: oblique;
  text-align: left;
}

.slides {
  border: 4px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #006609;
  background-color: #006609;
  position: absolute;
  right: 20px;
  margin: 2px;
  padding: 2px;
  height: 500px;
  width: 45%;

}
.ourProject{
  border: 4px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #006609;
  background-color: #006609;
  position: absolute;
  left: 20px;
  margin: 2px;
  padding: 2px;
  height: 1250px;
  width: 45%
}


